<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>HELLO</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="marlon-santos" />
    <link rel="icon" href="/image/favicon.png" />
    <link href="/css/skills/skills.css" rel="stylesheet" />
</head>

<body id="home">
    <main>
        <header>
            <h1>ok</h1>
        </header>
    </main>
</body>

</html>